#
# CODEOWNERS for ProxmoxVE
#

# Order is important; the last matching pattern takes the most
# precedence.


# Codeowners for specific folders and files
# Remember ending folders with /


# Set default reviewers
*                                                                           @kervoaz/Contributor

# All changes in frontend
/frontend/                                                                  @kervoaz/Frontend-Dev
